<!-- MENU SIDENAV -->
<div layout="row">
  <md-sidenav md-component-id="left" class="md-sidenav-left">
  <md-menu-content>
  <md-menu-item><md-button ng-click="doSomething()">Fiscalização do MTE é tema de palestra para empresarios em Dourados;</md-button></md-menu-item>
  <md-menu-item><md-button ng-click="doSomething()">Alto inseguro X Ambiente inseguro;</md-button></md-menu-item>
  <md-menu-item><md-button ng-click="doSomething()">Como psicologia pode colaborar no processo de prevencao de acidentes de trabalho;</md-button></md-menu-item>
  <md-menu-item><md-button ng-click="doSomething()">Audio terapia: Saiba mais sobre a PAIR;</md-button></md-menu-item>
  <md-menu-item><md-button ng-click="doSomething()">Você sabe calcular as multas previstas na NR 28?;</md-button></md-menu-item>
  <md-menu-item><md-button ng-click="doSomething()">Eu sou contra a terceirização e a favor dos trabalhadores!;</md-button></md-menu-item>
  <md-menu-item><md-button ng-click="doSomething()">O que é o eSocial e o que tem a ver comigo?;</md-button></md-menu-item>
  <md-menu-item><md-button ng-click="doSomething()">O que é isso rapaz???;</md-button></md-menu-item>
</md-menu-content>
</md-sidenav>
<md-content>
</md-content>
</div>