<!-- MENU SIDENAV -->
<div layout="row">
  <md-sidenav md-component-id="left" class="md-sidenav-left">
  <md-menu-content>
  <md-menu-item><md-button ng-click="doSomething()">Edição 1;</md-button></md-menu-item>
  <md-menu-item><md-button href="http://127.0.0.1/SENAC2017/revista/#/home/0">Edição 2;</md-button></md-menu-item>
  <md-menu-item><md-button ng-click="doSomething()">Edição 3;</md-button></md-menu-item>
  <md-menu-item><md-button ng-click="doSomething()">Edição 4;</md-button></md-menu-item>
</md-menu-content>
</md-sidenav>
<md-content>
</md-content>
</div>