<md-menu-item><md-button href="http://www.youblisher.com/p/1217506-REVISTA-GUIA-DA-PREVENCAO/">Web Site</md-button></md-menu-item>
<md-menu-item><md-button href="https://guiadaprevencao.wordpress.com/">Blog</md-button></md-menu-item>
<md-menu-item><md-button href="https://www.facebook.com/guiadaprevencaoms/?fref=ts">Facebook</md-button></md-menu-item>
<md-menu-item><md-button href="https://www.youtube.com/channel/UCWwGplJsWJyMR_80iQ18emQ">Canal no YouTube</md-button></md-menu-item>
<md-menu-item><md-button ng-click="window.location.reload()">Limpar Cache</md-button></md-menu-item>