<img src="img/conteudo/pag 34.png"width="100%" height="100%">
<p align="Left"> Onde foi parar o kit de primeiros socorros?<br>
	Apesar de muitos desconhe­cerem essa informação o kit de primeiros socorros é lei e toda empresa tem que ter! 
	Essa foto foi enviada por um estagiário de segurança do trabalho de uma construtora que atua em todo o estado de mato grosso do sul. A imagem caracteriza o descaso da empresa com a saúde e segurança de seus colaboradores pois a caixa onde deveria estar o kit existe, mas ...<br>
	<label>Vejamos:</label><p>

	O kit de primeiros socorros é obrigatório segundo a NR 7.5.1 que diz: <br>
	7.5.1 todo estabelecimento de­verá estar equipado com material necessário à prestação dos primeiros socorros, considerando-se as caracte­rísticas da atividade desenvolvida. O material deve ser guardado em local adequado e aos cuidados de pessoa treinada para esse fim.<br> 
	Ou seja, se trata de uma obri­gação legal para todas as empresas independente da quantidade de funcionários, tamanho ou segmento de trabalho. <br>
	Porém, antes de entregar o kit é importante ministrar um treinamen­to onde o responsável irá aprender a manusear os equipamentos, fazer curativos e prestar atendimento. 
	O atendimento de primeiros socorros quando é eficiente aumenta a chance de uma recuperação satis­fatória. <br>
	Mas o que deve conter no kit de primeiros socorros? <br>
	Os itens devem ser colocados de acordo com a atividade da empresa. Portanto o kit de primeiros socorros de uma construtora deverá ser dife­rente do kit de uma metalúrgica. 
	Entretanto, no geral não podem faltam em um kit de primeiros socor­ros os seguintes materiais: <br>
	Caixa para acondicionamento do kit;<br><p>
	Pinça: para poder retirar algum objeto encravado na pele (somente se for indispensável).<br>
	Tesoura;<br>
	Luvas cirúrgicas;<br>
	Máscara facial;<br>
	Óculos de proteção;<br>
	Bolsas térmicas;<br>
	Gaze;<br>
	Esparadrapo;<br>
	Band-aid;<br>
	Atadura de crepe;<br>
	Soro fisiológico ou solução iodada;<br>
	Cotonete: nesse caso seria usado para limpeza de ferimentos onde a água não tenha conseguido penetrar com eficiência;<br>
	Antisséptico;<br>
	Saco plástico vedante: para correto acondicionamento do lixo gerado no atendimento.<br>

	Atenção<br>
	Não devemos colocar medica­mentos de uso oral, nem para dor de cabeça e afins. Algumas pessoas são alérgicas a medicamentos que elas mesmas desconhecem, e se vierem a intoxicar ou sofrer algum mal por causa de remédios do kit sabe de quem será a culpa? De quem montou o kit!</center> </p>