<md-list>

  <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario2.jpg">
    <a href="#/home/1">
    <span>Alto inseguro X Ambiente inseguro.</span>
</a>
  </md-list-item>
    <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario3.jpg">
    <a href="#/home/2">
    <span>Como psicologia pode colaborar no processo de prevencao de acidentes de trabalho.</span>
</a>
  </md-list-item>

  <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario6.jpg">
    <a href="#/home/3">
    <span>Eu sou contra a terceirização e a favor dos trabalhadores!</span>
</a>
  </md-list-item>
    <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario7.jpg">
    <a href="#/home/4">
    <span>O que é o eSocial e o que tem a ver comigo?</span>
</a>
  </md-list-item>
    <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario8.jpg">
    <a href="#/home/5">
    <span>O que é isso rapaz???</span>
</a>
  </md-list-item>
</md-list>