<md-list>
  <md-list-item>
    <img class="md-avatar" ng-src="path/to/img">
    <span>Fiscalização do MTE é tema de palestra para empresarios em Dourados;</span>
  </md-list-item>
  <md-list-item>
    <img class="md-avatar" ng-src="path/to/img">
    <span>Alto inseguro X Ambiente inseguro;</span>
  </md-list-item>
    <md-list-item>
    <img class="md-avatar" ng-src="path/to/img">
    <span>Como psicologia pode colaborar no processo de prevencao de acidentes de trabalho;</span>
  </md-list-item>
    <md-list-item>
    <img class="md-avatar" ng-src="path/to/img">
    <span>Audio terapia: Saiba mais sobre a PAIR;</span>
  </md-list-item>
  <md-list-item>
    <img class="md-avatar" ng-src="path/to/img">
    <span>Você sabe calcular as multas previstas na NR 28?;</span>
  </md-list-item>
  <md-list-item>
    <img class="md-avatar" ng-src="path/to/img">
    <span>Eu sou contra a terceirização e a favor dos trabalhadores!;</span>
  </md-list-item>
    <md-list-item>
    <img class="md-avatar" ng-src="path/to/img">
    <span>O que é o eSocial e o que tem a ver comigo?;</span>
  </md-list-item>
    <md-list-item>
    <img class="md-avatar" ng-src="path/to/img">
    <span>O que é isso rapaz???;</span>
  </md-list-item>
</md-list>