<md-list>
  <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario1.jpg">
    <a href="http://127.0.0.1/SENAC2017/revista/#/home/1">
    <span>Fiscalização do MTE é tema de palestra para empresarios em Dourados; 13</span>
    </a>
  </md-list-item>
  <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario2.jpg">
    <a href="http://127.0.0.1/SENAC2017/revista/#/home/2">
    <span>Alto inseguro X Ambiente inseguro; 22</span>
</a>
  </md-list-item>
    <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario3.jpg">
    <a href="http://127.0.0.1/SENAC2017/revista/#/home/3">
    <span>Como psicologia pode colaborar no processo de prevencao de acidentes de trabalho; 24</span>
</a>
  </md-list-item>
    <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario4.jpg">
    <a href="http://127.0.0.1/SENAC2017/revista/#/home/4">
    <span>Audio terapia: Saiba mais sobre a PAIR; 26</span>
</a>
  </md-list-item>
  <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario5.jpg">
    <a href="http://127.0.0.1/SENAC2017/revista/#/home/5">
    <span>Você sabe calcular as multas previstas na NR 28?; 28</span>
</a>
  </md-list-item>
  <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario6.jpg">
    <a href="http://127.0.0.1/SENAC2017/revista/#/home/6">
    <span>Eu sou contra a terceirização e a favor dos trabalhadores!; 32</span>
</a>
  </md-list-item>
    <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario7.jpg">
    <a href="http://127.0.0.1/SENAC2017/revista/#/home/7">
    <span>O que é o eSocial e o que tem a ver comigo?; 33</span>
</a>
  </md-list-item>
    <md-list-item>
    <img class="md-avatar" ng-src="imagens/sumario8.jpg">
    <a href="http://127.0.0.1/SENAC2017/revista/#/home/8">
    <span>O que é isso rapaz???; 34</span>
</a>
  </md-list-item>
</md-list>